@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-size: cover;
}

.container {
    margin: auto 80px;
    display: flex;
    padding: 20px 0;
}

.header-title {
    font-family: Ubuntu, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.header-title:hover {
    color: rgba(60, 184, 120, 1);
    transition: 0.3s;
}


.calendar:hover .icon {
    display: none;
    transition: 0.5s;
}

.calendar:hover .icon-hover {
    display: block;
    transition: 0.5s;
}

.envelope:hover .icon {
    display: none;
    transition: 0.5s;
}

.envelope:hover .icon-hover {
    display: block;
    transition: 0.5s;
}

.compass:hover .icon {
    display: none;
    transition: 0.5s;
}

.compass:hover .icon-hover {
    display: block;
    transition: 0.5s;
}

.icons {
    border-right: 1px solid rgba(255, 255, 255, 0.674);
    margin-left: auto;
    margin-right: 30px;
    display: flex;
}

.icon-hover {
    display: none;
    padding-right: 20px;
    transition: 0.5s;
}

.icon-hover:last-child {
    padding-right: 20px;
}

.icon {
    padding-right: 20px;
    transition: 0.5s;
}

.icon:last-child {
    padding-right: 30px;
}

.header-text {
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
}

.header-text a:hover {
    color: rgba(60, 184, 120, 1);
    transition: 0.3s;
    cursor: pointer;
}


.modal-window {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    position: relative;
    margin-top: 60px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    padding: 30px 60px;
}

.square {
   position: absolute; 
   left: 0;
   top: 30px;
}

.login_sign {
    display: flex;
}

.sign {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    color: rgba(67, 67, 67, 1);
}

.login {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    margin-top: 5px;
    color: rgba(60, 184, 120, 1);
    margin-left: auto;
    transition: 0.3s;
}

.login:hover {
    transition: 0.3s;
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}

.buttons {
    margin-top: 20px;
}

.facebook-btn {
    background: rgba(48, 93, 184, 1);
    padding: 10px 0;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 3px;
    padding-left: 67px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.facebook-btn:hover {
    transition: 0.3s;
    background: rgba(2, 34, 99, 1);

}

.btn-img-f {
    margin-right: 20px;
    border-right: 1px solid rgba(10, 22, 47, 0.181);
    padding-right: 10px;
    padding-left: 5px;
    position: absolute;
    left: 8px;
    bottom: 10px;
}

.btn-img-g {
    margin-right: 20px;
    border-right: 1px solid rgba(10, 22, 47, 0.181);
    padding-right: 10px;
    padding-left: 5px;
    position: absolute;
    left: 5px;
    bottom: 13px;
}

.google-btn {
    background: rgba(223, 74, 50, 1);
    padding: 10px 0;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 3px;
    padding-left: 80px;
    padding-right: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-left: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.google-btn:hover {
    transition: 0.3s;
    background: rgba(171, 31, 9, 1);

}

.or {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(132, 132, 132, 1);
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.or:before,
.or:after {
    content: '';
    margin: auto 0;
    width: 152px;
    height: 1px;
    background: rgba(242, 242, 242, 1);
    border: solid #FFF;
    border-width: 0 5px;
}

.or:before {
    margin-left: -100%;
}

.or:after {
    margin-right: -100%;
}

.inputs {
    display: grid;
    row-gap: 15px;
    position: relative;
    margin-top: 10px;
}

.input {
    border: 1px solid rgba(242, 242, 242, 1);
border-radius: 4px;
padding: 14px 15px;
width: 291px;
color: rgba(67, 67, 67, 1);

}


.input::placeholder {
    font-family: Ubuntu , sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0px;
text-align: left;
color: rgba(190, 190, 190, 1);

}

.input:focus {
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    
}

.checkbox {
    width: 252px;
    height: 22px;
    background-color: rgba(242, 242, 242, 1);
    position: absolute;
    opacity: 0;
    bottom: 94px;
    left: 58px;
    cursor: pointer;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none; 
}

.checkbox+label::before {
    content: '';
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 0.25em;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.checkbox:checked+label::before {
    border-color: rgba(242, 242, 242, 1);
    border-radius: 0;
  background-color: #ffffff;
  background-image: url("../images/checkbox.svg");
}

.checkbox-label {
    font-family: Ubuntu , sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0px;
text-align: left;
}

.checkbox-label a {
   color: rgba(60, 184, 120, 1); 
   margin-left: 2px;
   z-index: 1;
   transition: 0.3s;
   text-decoration: none;
}

.checkbox-label a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgba(1, 129, 63, 1);
    transition: 0.3s;
}

.create_btn {
    font-family: Ubuntu , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 1);   
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    padding: 15px 106.20px;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.create_btn:hover {
    background: rgba(1, 129, 63, 1);
    transition: 0.3s;
}